@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
html ,body{
    width: 100%;
    height: 100%;
    font-family: 'Gamja Flower', cursive;
    font-size: 1rem;
}
.navbar{
    background-color: rgba(82,64,120,0.9) !important;
}
.navbar li a  {
    color: #fff !important;
}
.navbar li a:hover{
    color: black !important;
}

.carousel-item-img {
    width: 100%;
    height: 688px;
    object-fit: cover;
}
.carousel-caption{
    position: absolute;
    top: 25%;
}
.display-2{
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.btn-outline-light{
    background-color: orangered;
    width: 113px;
    height: 50px;
}
.btn-primary{
    width: 113px;
    height: 50px;

}
.btn-primary:hover {
    background-color: aqua;
    color: black;
}
.btn-ouline-secondary{
    border: 1px solid #ccc;
}
.btn-ouline-secondary:hover{
    background-color: rgba(82,64,120,0.9) !important;
    color: #fff;
}
.welcome hr{
    border-top:  2px solid #ccc;
    width: 95%;
    animation: hr linear 1s;
}
.welcome hr:hover{
    transform: scaleX(1.2);
}
.fa-react, .fa-html5, .fa-css3{
    font-size: 4rem;
    margin: 1rem;
}
.react{
    color: aqua;
}
.html5{
    color: red;
}
.css3{
    color: blue;
}
.my-4{
    width: 95%;
    border-bottom: 2px solid #ccc;
    animation: hr linear 1s;
}
.text-heading{
    font-size: 1.4rem;
}
.introduce{
    font-size: 1.4rem;
}
.gif{
    margin: 1;
  
}
@keyframes hr{
    from{
        transform: scale(0);
    }
    to{
        transform: scaleX(1.2)
    }
}

/* media query */
@media (max-width:992px){

}
@media (max-width:739px){
    .carousel-item-img{
        height: 70%;
    }
    .display-2{
        font-size: 2rem;
    }
    .carousel-caption h3{
        font-size: 1rem;
    }
    .button-mobile{
        font-size: 0.9rem;
        width: 84px;
        height: 36px;
    }
    .btn-primary{
        font-size: 0.9rem;
        width: 84px;
        height: 36px;
    }
    .gif{
        margin: 1;
      
    }
}

